body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

li {
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.low { background-color: lightblue; }
.medium { background-color: lightgreen; }
.high { background-color: red; }

.completed {
    text-decoration: line-through;
    
}